.ProjectCard {
  display: block;
  align-content: start;
  font-size: 14px;
  flex-direction: row;
  border: solid 1px blue;
  padding: 3px;
  margin: 5px;
  text-align: left;
}

.ProjectCard div {
  align-content: start;
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  /* border: solid 1px; */
  grid-row: 2;
}
.ProjectCard div div {
  text-align: left;
  width: 100%;
}

.controlBar {
  margin-bottom: 15px;
  text-align: right;
}

.modal {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  border: solid 1px #000;
  position: absolute;
  z-index: 1;
  display: none;
  padding: 10px;
  padding-top: 20px;
}
