.button {
  appearance: none;
  background: none;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 2px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.feedback {
  margin-top: 10px;
  background: #535353;
  color: #fff;
  text-align: left;
  padding: 5px;
  font-size: 18px;
  height: 80px;
  overflow-y: scroll;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}